## Preprocessing

In [2]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
print(application_df.shape)
print(application_df.dtypes)

(34299, 12)
EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

In [4]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.

application_df = application_df.drop(columns = ['EIN','NAME'])
print(application_df.columns)

Index(['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE',
       'ORGANIZATION', 'STATUS', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS',
       'ASK_AMT', 'IS_SUCCESSFUL'],
      dtype='object')

In [5]:
# Determine the number of unique values in each column.
for x in application_df.columns:
    print(x, len(application_df[x].unique()))

APPLICATION_TYPE 17
AFFILIATION 6
CLASSIFICATION 71
USE_CASE 5
ORGANIZATION 4
STATUS 2
INCOME_AMT 9
SPECIAL_CONSIDERATIONS 2
ASK_AMT 8747
IS_SUCCESSFUL 2

In [6]:
# Look at APPLICATION_TYPE value counts for binning
print(application_df['APPLICATION_TYPE'].value_counts())

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`

application_types_to_replace = application_df['APPLICATION_TYPE'].value_counts()[
                               application_df['APPLICATION_TYPE'].value_counts()<528
                               ].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [8]:
# Look at CLASSIFICATION value counts for binning

print(application_df['CLASSIFICATION'].value_counts())

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [9]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classificationcounts = application_df['CLASSIFICATION'].value_counts()
classificationcounts
classification_counts =classificationcounts.loc[classificationcounts>1]
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [10]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE
classifications_to_replace = application_df['CLASSIFICATION'].value_counts()[
                               application_df['CLASSIFICATION'].value_counts()<100
                               ].index.tolist()
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`
application_numeric = pd.get_dummies(application_df,dtype=float)
application_numeric.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [12]:
# Split our preprocessed data into our features and target arrays
X = application_numeric.drop(['IS_SUCCESSFUL'], axis=1)
X

,STATUS,ASK_AMT,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [13]:
y = application_numeric['IS_SUCCESSFUL']
y

0        1
1        1
2        0
3        1
4        1
        ..
34294    0
34295    0
34296    0
34297    1
34298    0
Name: IS_SUCCESSFUL, Length: 34299, dtype: int64

In [14]:

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78,stratify=y)
X_train

,STATUS,ASK_AMT,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
4602,1,5000,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
30193,1,728544,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
23134,1,5000,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
6319,1,9297,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
11202,1,5000,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28495,1,5000,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
24246,1,5000,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
12623,1,5000,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
19379,1,5000,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
6462,1,344188,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [15]:
y_train

4602     0
30193    0
23134    1
6319     0
11202    0
        ..
28495    0
24246    0
12623    0
19379    0
6462     1
Name: IS_SUCCESSFUL, Length: 25724, dtype: int64

In [16]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [17]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 8
hidden_nodes_layer2 = 14

nn_model = tf.keras.models.Sequential()

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, activation="relu", input_dim=number_input_features))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))
#nn_model.add(tf.keras.layers.Dense(units=1, activation="relu", input_dim=2))
# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 400

 dense_1 (Dense)             (None, 14)                126

 dense_2 (Dense)             (None, 1)                 15

=================================================================
Total params: 541
Trainable params: 541
Non-trainable params: 0
_________________________________________________________________

In [20]:
# Compile the model
nn_model.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics=['accuracy'])

In [21]:
# Train the model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 5s 3ms/step - loss: 0.5404 - accuracy: 0.7345
Epoch 2/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5405 - accuracy: 0.7341
Epoch 3/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5404 - accuracy: 0.7351
Epoch 4/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5405 - accuracy: 0.7343
Epoch 5/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5404 - accuracy: 0.7361
Epoch 6/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5409 - accuracy: 0.7357
Epoch 7/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5404 - accuracy: 0.7357
Epoch 8/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5404 - accuracy: 0.7342
Epoch 9/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5402 - accuracy: 0.7348
Epoch 10/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5401 - accuracy: 0.7353
Epoch 11/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5402 - accuracy: 0.7341
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5402 - accuracy: 0.7350
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5402 - accuracy: 0.7343
Epoch 14/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5402 - accuracy: 0.7342
Epoch 15/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5402 - accuracy: 0.7354
Epoch 16/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5399 - accuracy: 0.7350
Epoch 17/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5404 - accuracy: 0.7351
Epoch 18/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5398 - accuracy: 0.7346
Epoch 19/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5403 - accuracy: 0.7354
Epoch 20/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5399 - accuracy: 0.7355
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5401 - accuracy: 0.7356
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5401 - accuracy: 0.7357
Epoch 23/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5398 - accuracy: 0.7354
Epoch 24/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5398 - accuracy: 0.7355
Epoch 25/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5399 - accuracy: 0.7347
Epoch 26/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5401 - accuracy: 0.7345
Epoch 27/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5401 - accuracy: 0.7349
Epoch 28/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5400 - accuracy: 0.7355
Epoch 29/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5397 - accuracy: 0.7367
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5399 - accuracy: 0.7353
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5396 - accuracy: 0.7353
Epoch 32/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5397 - accuracy: 0.7364
Epoch 33/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5398 - accuracy: 0.7356
Epoch 34/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5396 - accuracy: 0.7365
Epoch 35/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5398 - accuracy: 0.7354
Epoch 36/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5395 - accuracy: 0.7349
Epoch 37/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5398 - accuracy: 0.7353
Epoch 38/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5396 - accuracy: 0.7355
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5400 - accuracy: 0.7345
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5397 - accuracy: 0.7347
Epoch 41/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5397 - accuracy: 0.7356
Epoch 42/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5396 - accuracy: 0.7360
Epoch 43/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5396 - accuracy: 0.7352
Epoch 44/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5399 - accuracy: 0.7353
Epoch 45/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5395 - accuracy: 0.7352
Epoch 46/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5394 - accuracy: 0.7364
Epoch 47/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5395 - accuracy: 0.7364
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5395 - accuracy: 0.7349
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5393 - accuracy: 0.7345
Epoch 50/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5395 - accuracy: 0.7355
Epoch 51/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5394 - accuracy: 0.7350
Epoch 52/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5394 - accuracy: 0.7360
Epoch 53/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5394 - accuracy: 0.7356
Epoch 54/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5396 - accuracy: 0.7355
Epoch 55/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5393 - accuracy: 0.7361
Epoch 56/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5396 - accuracy: 0.7343
Epoch 57/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5392 - accuracy: 0.7346
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5394 - accuracy: 0.7360
Epoch 59/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5391 - accuracy: 0.7352
Epoch 60/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5391 - accuracy: 0.7354
Epoch 61/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5394 - accuracy: 0.7359
Epoch 62/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5394 - accuracy: 0.7367
Epoch 63/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5394 - accuracy: 0.7361
Epoch 64/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5391 - accuracy: 0.7363
Epoch 65/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5395 - accuracy: 0.7347
Epoch 66/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5390 - accuracy: 0.7353
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5392 - accuracy: 0.7357
Epoch 68/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5388 - accuracy: 0.7366
Epoch 69/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5395 - accuracy: 0.7358
Epoch 70/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5393 - accuracy: 0.7355
Epoch 71/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5394 - accuracy: 0.7350
Epoch 72/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5392 - accuracy: 0.7355
Epoch 73/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5391 - accuracy: 0.7359
Epoch 74/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5392 - accuracy: 0.7348
Epoch 75/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5390 - accuracy: 0.7364
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5391 - accuracy: 0.7362
Epoch 77/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5390 - accuracy: 0.7370
Epoch 78/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5393 - accuracy: 0.7369
Epoch 79/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5389 - accuracy: 0.7369
Epoch 80/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5388 - accuracy: 0.7353
Epoch 81/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5391 - accuracy: 0.7356
Epoch 82/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5390 - accuracy: 0.7349
Epoch 83/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5392 - accuracy: 0.7361
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5391 - accuracy: 0.7364
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5389 - accuracy: 0.7359
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5392 - accuracy: 0.7365
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5389 - accuracy: 0.7358
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5392 - accuracy: 0.7359
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5392 - accuracy: 0.7360
Epoch 90/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5388 - accuracy: 0.7363
Epoch 91/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5391 - accuracy: 0.7346
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5391 - accuracy: 0.7358
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5387 - accuracy: 0.7369
Epoch 94/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5390 - accuracy: 0.7353
Epoch 95/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5390 - accuracy: 0.7357
Epoch 96/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5387 - accuracy: 0.7363
Epoch 97/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5390 - accuracy: 0.7360
Epoch 98/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5391 - accuracy: 0.7360
Epoch 99/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5386 - accuracy: 0.7347
Epoch 100/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5387 - accuracy: 0.7362

In [22]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5529 - accuracy: 0.7306 - 493ms/epoch - 2ms/step
Loss: 0.552907407283783, Accuracy: 0.7306122183799744

In [24]:
# Export our model to HDF5 file
from google.colab import files

nn_model.save("Alphabet_charity_model.h5")
files.download("Alphabet_charity_model.h5")